<div class="banner text-center">
  <h5 style="    text-align: left;
    margin-left: 160px;color: lightgray;">Home > ID Verification</h5>
  <div fxLayout="row wrap"
       fxLayoutAlign="space-between start"
       fxLayoutGap="20px"
       style="padding: 1px 70px 0px 86px;">
    <div fxFlex.xl="calc(50% - 20px)"
         fxFlex.lg="calc(50% - 20px)"
         fxFlex.md="calc(50% - 20px)"
         fxFlex.sm="100"
         fxFlex.xs="100">
      <div fxLayout="row wrap"
           fxLayoutAlign="space-between start"
           style="margin-left: 20px;">
        <div fxFlex="100"
             style="    padding: 50px;">
          <h1 style="text-align: left;">Before you start selling, Let's verifiy your ID</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut labore et
            dolore magna aliqua. <br><br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>nisi ut
            aliquip ex ea commodo consequat. <br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum <br>dolore eu fugiat nulla pariatur.</p>
          <br><br>
          <p><i class="fa fa-lock"
               style="margin-right: 10px;"
               aria-hidden="true"></i>Your ID is secure with us.</p>
        </div>
        <div fxFlex="100"
             style="text-align: start;margin-left: 47px;">
          <button class="btn btn-primary"
            (click)="onIdcard()"
                  style="height: 45px;
                    width: 20%;">
            Next
          </button>
        </div>

      </div>


    </div>
    <div fxFlex.xl="calc(50% - 20px)"
         fxFlex.lg="calc(50% - 20px)"
         fxFlex.md="calc(50% - 20px)"
         fxFlex.sm="100"
         fxFlex.xs="100">
      <div>
        <img src="assets/images/idcarddesply.png">
      </div>

    </div>
  </div>
</div>