.banner {
    padding-top: 170px;
}

.banner p {
    font-size: 14px;
    margin-bottom: 4.5rem;
    color: #64686D;
}

::placeholder {
    font-size: 10px;
}

.btn-primary {
    background-color: #00508E;
    width: 100%;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.mat-form-field {
    width: 50% !important;
}
.row
{
    margin-right: 0px;
    margin-left: 0px;
}