<div class="banner text-center">
    <h1 style="margin-bottom: 12px;font-weight: 600;">Reset your Password</h1>
    <p>Please enter your new password below</p>

    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <form [formGroup]="Form"
                  (ngSubmit)="doSubmit()">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Reset Code </mat-label>
                        <input matInput
                               formControlName="reset_code"
                               type="text"
                               maxlength="4"
                               required/>
                        <mat-error
                                   *ngIf="getValue('reset_code')?.invalid && (getValue('reset_code')?.dirty || getValue('reset_code')?.touched)">
                            Reset Code
                            is required & must be minimum 4 digits</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>New Password </mat-label>
                        <input matInput
                               formControlName="new_password"
                               type="password"
                               minlength="6"
                               required/>
                        <mat-error
                                   *ngIf="getValue('confirmPassword')?.invalid && (getValue('confirmPassword')?.dirty || getValue('confirmPassword')?.touched)">
                            New Password
                            is required & must be minimum 6 digits</mat-error>


                    </mat-form-field>
                </div>


                <button class="btn btn-primary"
                        style="height: 50px;
                        width: 50%;"
                        [disabled]="Form.invalid"
                        type="submit">
                        Submit
                </button>
            </form>
        </div>

        <div class="col-md-3"></div>
    </div>

</div>