<div class="my-drop-zone">
    <div class="fileContainer"
         (mouseover)="onHover('over')"
         (mouseleave)="onHover('out')"
         [style.height.px]="size.height">

        <ng-container *ngIf="!image">
            <div *ngIf="!isIconHidden"
                 class="cloud-icon">
                 <i class="fa fa-cloud-upload"><img width="50px" height="50px" src="assets/images/drag-drop-icon-7.jpg"></i>
            </div>

            <div class="des"
                 *ngIf="isIconHidden">{{description}}</div>

        </ng-container>
        <input type="file"
               id="avatar"
               accept="image/png, image/jpeg, image/jpg"
               (change)="onFileChange($event)"
               #fileInput />

        <div *ngIf="image"
             class="selected-img">
            <img [src]="image"
                 alt="">
            <div *ngIf="isDeleteShown"
                 class="delete"
                 (click)="onDeleteImage()">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
    </div>
</div>