.sitelogo img {
    width: 135px;
}
.login-icon{
    padding-right: 5px;
    vertical-align: bottom;
    width: 25px;
}
.top-right a {
    text-decoration: none;
    color: #BFC7D1;
    font-size: 10px;
    font-weight: bold;
}
